
.search-bar-container{
  position: fixed;
  width: 100%;
  align-content: center;
  padding-top: 25px;
  background-color: grey;
  z-index: 1;
}

.nav-bar-links-link {
  float: right;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.navcustom{
  margin-top: 0px;
  
}

.navbar-links{
  float: left;
}

.search-bar-form{
  text-align: right;
  align-content: right;
  padding: 15px;
  padding-left: 30px;
}

.button{
  z-index: 2;
  float: right;
  background-color: whitesmoke;
  

}
.button-container{
  position: absolute;
  top: 15%;
  left: 80%;
}


.search-bar {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  outline: none;
}

.divtest{
  border: solid black;
}

.title-header{
  display: flex;
  padding-left: 10px;
}

.song-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 10%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.song-image{
  border: 1px solid black;
  background-color: grey;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 10%;
}
.song-listing-card{
  max-width: 150px;
  max-height: 150px;
}

.home-container{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  margin-left: 200px;
  padding-top: 100px;
}

.featured-container{
  text-align: center;
}
.home-recent-upload{
  text-align: center;
}


.recent-upload-card-container{
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}


.title-container-upload{
  text-align: center;
  padding-bottom: 50px;
}

.upload-form-container{
  text-align: left;
}

.form{
  justify-content: space-between;
  align-content: space-between;
  line-height: 14px; 
  padding-left: 150px;
}
.form-div{
  padding-bottom: 20px;
}

#song-card-id{
  text-align: center;
}

.myrecent-uploads{
  text-align: center;
}

.profile-picture{
  max-height: 200px;
  max-width: 200px;
}

.profile-grid{
  display: inline-flex;
  padding-bottom: 50px;

}

.profile-container{
  padding-left: 20px;
}

.profile-headers{
  padding-top: 15px;
  padding-bottom: 5px;
}

.profile-upload{
  padding-bottom: 100px;
  padding-top: 50px;
}

.header-container{
  display: inline-flex;
  padding-right: 25px;
  padding-top: 5px;
}

.song-producer-image {
  max-height: 200px;
  max-width: 200px;
}

.song-card-mapping{
  border: 1px solid black;
  width: 300px;
  height: auto;
}

.play-btn-container{
  padding-bottom: 5px;
}

.song-card-mapping2{
  border: 1px solid black;
  width: 150px;
  height: auto;
}
.song-producer-image2 {
  max-height: 100px;
  max-width: 100px;
}

.featured-song-container{
  background-color: #ABB0B8;
  color: whitesmoke;
  
}

.home-featured-song{
  align-content: center;
  text-align: center;
}

.featured-card{
  border: 1px solid black;
  background-color: white;
}

.user-profile-container{
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}
.producer-card-container{
  padding: 10px;
}

.song-card-side-container{
  padding-top: 25px;
  color: whitesmoke;
}
.song-producer-image3{
  max-width: 175px;
}

.side-user-container{
  text-align: center;

}

.recent-upload-card-container3{
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;

}

.layoutoutline-solid{
  border: 1px solid #E6EEF7;
  border-radius: 5px;
  
}