body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(19,18,18);
background: linear-gradient(90deg, rgba(19,18,18,1) 16%, rgba(16,46,71,1) 60%, rgba(0,76,139,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background: rgb(19,18,18);
    background: linear-gradient(90deg, rgba(19,18,18,1) 16%, rgba(16,46,71,1) 60%, rgba(0,76,139,1) 100%);
}

html{
  background: rgb(0, 0, 0);
}
